@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&family=Poppins&family=Roboto:wght@400;700&display=swap');

.container , .container-fluid{
    /*border: solid 3px red;*/
    
}
.row {  
   /* border: solid 3px green;*/
}

.col-12 , .col-sm-12,  .col-md-5 , .col-lg-5 , .col-md-8  , .col-lg-8 , .col-3  , .col-md-7 , .col-lg-7{
/*border: solid 3px yellow; */
}

.titulo-principal {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    color: #ffffff;
    text-align: center;
    padding: 0.5em;
}

.texto-calculadora {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 63px;
    color: white;
    text-align: center;
    padding: 0.5em;
}

.calculadora {
    background: rgb(158, 177, 225, 0.8) ;
    margin: 5em;
    padding: 1em 3em 3em 3em ;
    border-radius: 15px;
}

.botao {
    width: 60px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    background-color: #3556AC;
    border: none;
    color: #ffffff;
    font-family: 'Poppins';
    margin: 3px;
}

.botao:hover {
    background-color: #021E5F;
}

#resultado {
    width: 97%;
    height: 60px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 0.3em;
    background-color: rebeccapurple;
}

.texto-footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin: 0;
    
    
}
